body {
	width: 100%;
	height: 100%;
	color: #666;
	background-color: #fff;
}

html {
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 30px;
	font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
	font-weight: 300;
}

p {
	margin: 0 0 20px;
	font-size: 16px;
	line-height: 1.6em;
}

main {
    display: block;
}


h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */

}

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted; /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

button,
input { /* 1 */
    overflow: visible;
}

button,
select { /* 1 */
    text-transform: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}


details {
    display: block;
}


summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.15;
}

html {
    font-size: 62.5%;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
}

.header {
    position: relative;
    z-index: 2;
    padding: 2rem 4rem;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.6rem;
    background-image: url(./asset/img/fondo-header.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.header > * {
    position: relative;
    z-index: 4;
}

.main {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    background-color: rgb(255, 255, 255);
    background-image: none;
}
.footer {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7.5rem;
    color: rgb(248, 248, 248);
    background-color: #636363;
}
.footer__content {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: space-evenly;
    padding-bottom: 1rem ;
}

.footer__copyright {
    font-size: 1.2rem;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}


.buttonAction, .sign-up__button, .contactanos__button, .plan .plan-card__button, .conoce-mas__button, .banner__button, .navbar__button {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding: 1.5rem 5rem;
    color: rgb(248, 248, 248);
    background-color: #D50000;
    border: none;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* .buttonAction:hover, .sign-up__button:hover, .contactanos__button:hover, .plan .plan-card__button:hover, .conoce-mas__button:hover, .banner__button:hover, .navbar__button:hover {
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
} */

.navbar {
    z-index: 10;
    padding: 0 2rem;
    width: 100%;
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    background-color: #FFF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
.navbar--dark-background {
    background-color: rgb(22, 28, 45);
}
.navbar--dark-background .navbar__complete-list {
    background-color: rgb(22, 28, 45);
}

.navbar--dark-background .navbar__button {
    background-color: rgb(255, 255, 255);
}
.navbar--dark-background .navbar__button a {
    font-weight: bold;
    color: rgb(31, 41, 55);
}
.navbar__icon-menu {
    cursor: pointer;
}

.navbar__button {
    width: -moz-min-content;
    width: min-content;
    padding: 1rem 1.5rem;
    margin: 3rem;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}
.navbar__button a {
    color: rgb(248, 248, 248);
}
.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}
.navbar__logo img {
    aspect-ratio: 1/1;
    width: 5rem;
    border-radius: 100%;
}
.navbar__logo p {
    font-size: 2rem;
    line-height: 120%;
    font-weight: 700;
    font-style: normal;
    color: black;
    margin: 0;
}

.navbar__complete-list {
    z-index: -1;
    bottom: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content:right;
    align-items: center;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}
.navbar__complete-list--show_list {
    transform: translate(0, calc(100% + 7rem));
}

.navbar__list {
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    margin: 0;
    width: -moz-min-content;
    width: min-content;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.navbar__link {
    text-align: center;
    list-style: none;
}
.navbar__link a {
    text-decoration: none;
    font-size: 2rem;
    line-height: 120%;
    font-weight: 700;
    font-style: normal;
    white-space: nowrap;
    color:black;
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.navbar__link a:hover{
    color:#D50000; 
}

.banner {
    width: 100%;
    max-width: 82rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.banner__img {
    z-index: 0;
    height: -moz-min-content;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 26rem;
}

.banner__img img {
    width: 100%;
}
.banner__content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.banner__title {
    font-size: 5.6rem;
    line-height: 120%;
    font-weight: 700;
    font-style: normal;
    color: rgb(248, 248, 248);
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.banner__button {
    max-width: 18rem;
    margin: 0 auto;
}

.conoce-mas {
    scroll-margin-top: 7rem;
    width: 100%;
    max-width: 82rem;
    margin: 15rem auto;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.conoce-mas__title{
    font-size: 4.8rem;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    letter-spacing: 0.15rem;
}

.conoce-mas__img {
    margin-top: 40px;
    width: 100%;
    max-width: 60rem;
}
.conoce-mas__img img {
    width: 100%;
}

.conoce-mas__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.conoce-mas__info {
    font-size: 1.4rem;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.contactanos {
    scroll-margin-top: 7rem;
    padding: 2rem 4rem;
    padding: 6.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    background-color: white;
    background-size: cover;
    background-position: center;
}

.contactanos__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.contactanos__complete-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.contactanos__title {
    font-size: 4.8rem;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    letter-spacing: 0.15rem;
}
.contactanos__subtitle {
    display: none;
}

.contactanos__description {
    display: none;
}

.contactanos__form {
    background-color: #ebebeb;
    width: 100%;
    max-width: 26rem;
    padding: 3rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: ;
    border-radius: 1rem;
}
.contactanos__label {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.contactanos__label p {
    font-size: 1.6rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    line-height: 120%;
    font-weight: 700;
    font-style: normal;
    color: rgb(0, 0, 0);
}

.contactanos__input {
    width: 100%;
    height: 3.2rem;
    padding: 0.4rem 1.2rem;
    border: 0.1rem solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    line-height: 2.4rem;
    font-weight: 400;
    font-style: normal;
    color: rgb(22, 28, 45);
}

.contactanos__input--large {
    height: 8rem;
}
.contactanos__button {
    margin-top: 2rem;
}

.sign-up {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.sign-up__title {
    font-size: 1.6rem;
    line-height: 120%;
    font-weight: 700;
    font-style: normal;
}

.sign-up__button {
    max-width: 26rem;
    color: rgb(22, 28, 45);
    background-color: rgb(248, 248, 248);
}
.sign-up__social {
    max-width: 26rem;
    display: flex;
    justify-content: space-between;
}
.sign-up__social img {
    padding: 0.8rem;
    background-color: rgb(248, 248, 248);
    border-radius: 100%;
    cursor: pointer;
}

.usefull-links, .legal__links, .legal, .contact__info, .contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.usefull-links__title {
    font-size: 1.6rem;
    line-height: 120%;
    font-weight: 700;
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    background-color: #4A4A4A;
}

.usefull-links__list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.usefull-links__item {
    list-style: none;
}
.usefull-links__item a {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2rem;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    color: rgb(248, 248, 248);
    text-decoration: none;
}

.contact__title {
    font-size: 1.6rem;
    line-height: 120%;
    font-weight: 700;
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    background-color: #4A4A4A;
}
.contact__item p{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2rem;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    color: rgb(248, 248, 248);
    text-decoration: none;
}

.legal__title {
    font-size: 1.6rem;
    line-height: 120%;
    font-weight: 700;
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    background-color: #4A4A4A;
}

.legal__link p{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2rem;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    color: rgb(248, 248, 248);
    text-decoration: none;
}

.reconomiento {
    width: 100%;
    margin: 4rem 0;
    padding: 3rem 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 41, 55);
}
.reconomiento__content {
    text-align: center;
    color: rgb(248, 248, 248);
    font-size: 1.6rem;
    line-height: 120%;
    font-weight: 700;
    font-style: normal;
}

.reconomiento__parners {
    display: flex;
    gap: 2rem;
}
.reconomiento__img {
    height: 6rem;
}
.equipo{
    scroll-margin-top: 7rem;
    width: 100%;
    margin: 0 0;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    background-color: #ebebeb;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */

}
.equipo__title{
    font-size: 4.8rem;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    letter-spacing: 0.15rem;
}
.equipo__content {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
    padding-bottom: 1rem ;
}
.equipo__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
    max-width: 25rem;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: white;
}
.equipo__person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
}
.equipo__person-photo{
    border-radius: 10px;
    height: 250px;
    width: 200px;
}
.equipo__person-title{
    font-size: 2.4rem;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    letter-spacing: 0.15rem;
}

.equipo__person-description{
    font-size: 1.8rem;
}

.caracteristicas{
    scroll-margin-top: 7rem;
    width: 100%;
    margin: 3rem 0;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */    
}
.caracteristicas__heading{
    margin: auto;
}
.caracteristicas__title{
    font-size: 4.8rem;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    letter-spacing: 0.15rem;
}

.caracteristicas-item__title{
    font-size: 1.7rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

.caracteristicas-row{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
    padding-bottom: 1rem ;
}
.caracteristicas-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.8rem;
    max-width: 25rem;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: white;
    justify-content: flex-start; /* Centrar los elementos verticalmente */
    align-items: center;
}

.caracteristicas-item p{
    text-align: center;
}
.caracteristicas__img{
    width: 50px;
    height: 50px;
    margin: 25px auto;
}
.capturas{
    scroll-margin-top: 7rem;
    width: 100%;
    margin: 0 0;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    background-color: #ebebeb;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */    
}
.capturas__title{
    font-size: 4.8rem;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    letter-spacing: 0.15rem;
}
.capturas__content{
    display: flex;
    flex-direction: column;
    gap: 1.2rem; /* Espacio entre las filas */
}
.capturas__row{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
    padding-bottom: 1rem ;
}
.capturas__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.8rem;
    max-width: 25rem;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: white;
}

.line-left-red {
    display: inline-block;
    width: 5px;
    height: 22px;
    background-color: #D50000;
}